<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . mobilitysqr_api/mobilitysqr_preprod_virtualenv/mobilitysqr_staging/uploadpdf/index.html [L]
</IfModule>

