*.cpython-38.pyc
/vendor.cpython-37.pyc
/activity_log.cpython-38.pyc
/approve_request.cpython-38.pyc
/assignment_group.cpython-38.pyc
/assinment_type.cpython-38.pyc
/country.cpython-38.pyc
/currency.cpython-38.pyc
/department.cpython-38.pyc
/dropdown.cpython-38.pyc
/notification.cpython-38.pyc
/organization.cpython-38.pyc
/organization_location.cpython-38.pyc
/project.cpython-38.pyc
/request_status.cpython-38.pyc
/role.cpython-38.pyc
/visa.cpython-38.pyc
/visa_document_checklist.cpython-38.pyc
/visa_purpose.cpython-38.pyc
