*.pyc
/0002_auto_20210713_1344.cpython-38.pyc
/0003_vendor_service_list_test.cpython-38.pyc
/0004_remove_vendor_service_list_test.cpython-38.pyc
/0005_vendor_service_list_test.cpython-38.pyc
/0006_remove_vendor_service_list_test.cpython-38.pyc
/__init__.cpython-38.pyc
