/0007_auto_20210713_1640.cpython-37.pyc
/0008_vendor_service_list_testaa.cpython-37.pyc
/0009_remove_vendor_service_list_testaa.cpython-37.pyc
/0010_vendor_service_list_status.cpython-37.pyc
/0011_auto_20210713_1846.cpython-37.pyc
*.cpython-38.pyc
