<html xmlns="https://www.w3.org/1999/xhtml">

<head>

</head>

<body style="background-color: #F7F6B7;">

<div style="background-color: #fff; padding: 15px;">
<img src="http://172.104.183.68/mobilitysqrs_staging/templates/logo.png" />
    <hr style="border-width: 1.1px!important;">
<div align="left" style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium;">
    <p>DATED {{date}}</p>
    <p><br></p>
    <p>Private and Confidential</p>
    <p><br></p>
    <p>{{address1}}<span style="background-color: transparent;">{{address2}}</span><span
            style="background-color: transparent;">{{address3}}</span></p>
    <p>{{city}},<span style="background-color: transparent;">{{state}},</span><span
            style="background-color: transparent;">{{zip}}</span><span
            style="background-color: transparent;"><br></span></p>
    <p><span style="background-color: transparent;">{{country}}</span><span
            style="background-color: transparent;"><br></span></p>
    <p><span style="background-color: transparent;"><br></span></p>
    <h6><span style="background-color: transparent;">Dear
            {{salutation}}&nbsp;</span>{{first_name}}&nbsp;</h6>
    <p><span style="background-color: transparent;"><br></span></p>
    <p>&nbsp; &nbsp; &nbsp; This Letter of Assignment confirms our mutual understanding of the terms and conditions of
        your appointment as TITLE reporting to MANAGER and located in {{city}}, {{country}}. While on assignment
        you will be performing services for HOST LEGAL ENTITY NAME. The terms of your assignment will be in accordance
        with the Company’s Human Resources Management Policy for Long-Term International Assignments, HRMP 250. This
        letter highlights key points of your assignment.<span style="background-color: transparent;"><br></span></p>
</div>
</div>

</body>

</html>