<html style="height: 100%;width: 100%;" xmlns="https://www.w3.org/1999/xhtml">

<head>

</head>

<body style="height: 100%;width: 100%;">

    <div style="background-color: #fff; padding: 15px;height: 100%;width: 100%;">
        <img src="http://172.104.183.68/mobilitysqrs_staging/templates/logo.png" />
        <hr style="border-width: 1.1px!important;">
        <div align="left" style="height: 80%;">
            <h4 align="right" style="font-weight: 100;">{{date}}</h4>
            To:<br>
            <h4 style="font-weight: 100;">
                The Visa Officer<br>
                Embassy of Netherlands<br>
                New Delhi, 110021<br>
            </h4>
            <h4 align="center">Subject: Request letter to attend business meeting</h4>
            <h4 style="font-weight: 100;">Dear Sir/Madam,</h4>
            OYO Hotels & Homes (Oravel Stays Pvt Ltd.) is India's largest hotel network spread across 230 cities with
            8500+ hotels offering standardized and hassle-free stay experiences at an unmatched price. The most advanced
            hospitality tech takes shape here. We introduced pioneering technology to the hospitality industry to
            deliver better and more efficient operations, management, service and CRM. Our app allows a user to book a
            room in just 3 taps, or within 5 seconds.<br>
            Mr. Mridul Shah has been working with Oravel Stays Pvt Ltd and will be traveling to Amsterdam,
                Netherlands
                from 16 November 2019 to 16 December 2019 to attend internal business meetings and discussion with
                stakeholders and leadership team of Belvilla Services.<br>
            Details of Mridul Shah are as follows:<br>
            <p style="border: 1px solid #000;width: 30%;margin-left: 2%;padding: 2px 8px;">Name
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Passport no.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Designation <br>
                Mr. Mridul Shah&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; J0563188
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Manager </p>
            Mr. Mridul Shah is on the payrolls of Oravel Stays Private Limited. We undertake the responsibility of all
            the travel expenses, accommodation and any other related expenses for him during his stay in Netherlands. We
            request you to issue him with a longer duration stay period along with multiple entry Business visa under
            the guidelines of the Orange Carpet Facility for his visit to Netherlands as there would be a requirement
            for frequent visits in the future.<br>

            <p>In case you require any information please feel free to contact the undersigned.</p>
            Sincerely,<br>
            Thanking you<br>
            For Oravel Stays Private Limited<br>

            <h4 style="font-weight: 100;">
                _____________________<br>
                Sumit Mathur<br>
                Senior Manager- Global Mobility<br>
                Ph: +91 96429 94232<br>
            </h4>
        </div>
        <div align="center" style="height: 10%;position: relative;">
            <div style="position: absolute;bottom: 1%;width: 100%;">
                <hr style="border-width: 1.1px!important;">
                246, Phase IV, Udyog Vihar,
                Gurugram, Haryana-122016 (India)<br>
                Tel: +91 97111 89970
            </div>
        </div>
    </div>

</body>

</html>